body { 
	padding-top: 30px; 
	background-color: #CCCCFF;
}

#top {
	text-align:center;
	margin: 0px 0px 30px 0px;
}

#minesweeper {
	text-align: center;
}

@keyframes explode {
    from {background: #EEEEEE; color: black;}
    to {background: #FF3030; color: white;}
}

@keyframes bigger {
    from {font-size: 24px;}
    to {font-size: 32px;}
}

@keyframes smaller {
    from {font-size: 32px;}
    to {font-size: 24px;}
}

.row {
	margin: 20px 0px 50px 0px;
}

.mode-btn {
	font-size: 24px;
	color: black;
	text-shadow: 0px 0px 10px #FFF;
}

.pressed {
	font-size: 32px;
	animation-name: bigger;
	animation-duration: 700ms;
	color: white;
	text-shadow: 0px 0px 10px #000;
}

.depressed {
	font-size: 24px;
	animation-name: smaller;
	animation-duration: 700ms;
}

.boom {
	background: #FF3030;
	color: white;
	animation-name: explode;
	animation-duration: 700ms;
}

.not-boom {
	background: #55DD55;
}

table {
	overflow-x:auto;
	margin: 0 auto;
}

th, td  {
	border: 1px solid #777777;
	background: #EEEEEE;
}

th, td.center  {
	font-size: 20px;
	background: #CCFFFF;
}

th, td.center:hover  {
	background: #77DDDD;
}

th, td.reset  {
	font-size: 20px;
	background: #FFCCCC;
}

th, td.reset:hover  {
	background: #FF8888;
}

th, td#mines-left  {
	font-size: 18px;
	background: #DDDDDD;
	text-align: left;
	padding: 0px 0px 0px 25px;
}

th, td.disabled  {
	background: #CCCCCC;
}

th, td.undiscovered  {
	background: #CCCCCC;
}

th, td.undiscovered:hover  {
	background-color: #AAAAAA
}

th, td.undiscovered:active  {
	background-color: #AAAAFF
}
