body { 
	padding-top: 30px;
	background-color: #cbb7ff;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23807ef7' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#top {
	text-align:center;
	margin: 0px 0px 30px 0px;
}

#minesweeper {
	text-align: center;
}

@keyframes explode {
    from {background: #EEEEEE; color: black;}
    to {background: #FF3030; color: white;}
}

@keyframes bigger {
    from {font-size: 24px;}
    to {font-size: 32px;}
}

@keyframes smaller {
    from {font-size: 32px;}
    to {font-size: 24px;}
}

.row {
	margin: 20px 0px 50px 0px;
}

.mode-btn {
	font-size: 24px;
	color: black;
	text-shadow: 0px 0px 10px #FFF;
}

.pressed {
	font-size: 32px;
	animation-name: bigger;
	animation-duration: 700ms;
	color: white;
	text-shadow: 0px 0px 10px #000;
}

.depressed {
	font-size: 24px;
	animation-name: smaller;
	animation-duration: 700ms;
}

.boom {
	background: #FF3030;
	color: white;
	animation-name: explode;
	animation-duration: 700ms;
}

.not-boom {
	background: #55DD55;
}

table {
	overflow-x:auto;
	margin: 0 auto;
}

th, td  {
	border: 1px solid #777777;
	background: #EEEEEE;
}

th, td.center  {
	font-size: 20px;
	background: #CCFFFF;
}

th, td.center:hover  {
	background: #77DDDD;
}

th, td.reset  {
	font-size: 20px;
	background: #FFCCCC;
}

th, td.reset:hover  {
	background: #FF8888;
}

th, td#mines-left  {
	font-size: 18px;
	background: #DDDDDD;
	text-align: left;
	padding: 0px 0px 0px 25px;
}

th, td.disabled  {
	background: #CCCCCC;
}

th, td.undiscovered  {
	background: #CCCCCC;
}

th, td.undiscovered:hover  {
	background-color: #AAAAAA
}

th, td.undiscovered:active  {
	background-color: #AAAAFF
}
